__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/
node_modules/
package-lock.json
package.json
.venv/
.cache/
*.swp
tmp/
/var/
/.vs
specification/

# ignore this large document ..
collection/resource/0e1b6dfdb72759658ef0cbfbd4363fed4c8e867c
collection/document/a35d9bc6553a6a79753a3521e29f3cf182a37d15152e2fbd56a1ea21ba3eaa19.pdf
